<% layout('base/base') %> <%- include('../partials/navbar') %> <%-
include('../partials/flash') %>

<style>
  .myCardImg {
    height: 400px;
    width: 100%;
  }
</style>

<div class="product" style="padding: 60px">
  <div class="container">
    <!-- Card deck -->
    <div class="row">
      <div class="col-md-12 text-center" style="margin-bottom: 80px">
        <% if (products.length === 0) { %>
        <h1>THERE ARE NO CURRENT PRODUCTS</h1>
        <% }else{ %>
        <h1>ALL PRODUCTS</h1>
        <% } %>
      </div>
    </div>
    <div class="card-deck row">
      <% for(let items of products){ %>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-5">
        <!-- Card -->
        <div class="card" style="width: 100%">
          <!--Card image-->

          <div class="view overlay">
            <img
              class="myCardImg"
              src="<%= items.img[0].url %>"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->

            <h4 class="card-title"><%= items.productName %></h4>

            <p class="card-text"><%= items.desc %></p>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-success btn-md">
                <a
                  href="/product/<%= items._id %>"
                  style="color: white; text-decoration: none"
                  >Show More</a
                >
              </button>
              <h6 class="card-text mt-2">P<%= items.price %></h6>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <% } %>
    </div>
  </div>

  <!-- Card deck -->
</div>
<%- include('../partials/footer') %>
